/* CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hill-logo img {
	width:auto;
	height:30px;;
}

.hill-logo {
	width:100px;
	height:auto;
}

.hill-logo:hover {
	opacity:.5;
}

.containerA {
/* 	background:yellow; */
	min-height:200px;
	z-index:500;
	position: relative;
	padding-bottom: 180px;
}

.divider {
	border-top:2px solid white;
	padding-top:30px;
}

.full img{
	width:100%;
	height:auto;
	padding-bottom: 30px;
}

.full {
	width:100%;
	display:inline-block;
	position:relative;
}

.labelL, .labelR {
	width:49.5%;
	display:inline-block;
	vertical-align: top;
	color:white;	
	font-family: 'Libre Franklin', sans-serif;
	z-index: 500;
	position:relative;
}

h1 {
	font-size: 42px;
	line-height: 60px;
	margin:0;
	letter-spacing: .5px;
	margin-bottom:60px;
}

h2 {
	font-size: 28px;
	line-height: 42px;
	margin:0;
	letter-spacing: .5px;
	margin-bottom:30px;
}

p {
	font-size:18px;
	line-height:36px;
	margin:0;
	font-family: 'IBM Plex Mono', monospace;
}

.labelL, .labelR li{
	list-style-type: lower-roman;
	padding-bottom: 30px;
}

.serif {
font-family: 'IBM Plex Mono', monospace;
}

.case {
	margin:0;
}

.connect {
	margin: 0;
	padding: 0;
}

.connect li {
	list-style: none;
}

small {
	vertical-align: super;
    font-size: 16px;
    color:white;
font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 2px;
}

#bio {
	background-image: linear-gradient(to right, #ed1c24 0%, #fff200 20%, #FFFFFF 40%, #FFFFFF 60%, #00aeef 80%, #2e3192 100%);
	color:black;
	padding:3px;
}

#bio:hover {
	cursor:help;
}

.labelL span a{
	color:white;
	text-decoration: none;
	padding-bottom: 6px;
	
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 2px;
	background-image: linear-gradient(to right, #ed1c24 0%, #fff200 20%, #FFFFFF 40%, #FFFFFF 60%, #00aeef 80%, #2e3192 100%);
	}

.labelL span a:hover:before {
	content: "\2190";
}

.labelR span a{
	color:white;
	text-decoration: none;
	padding-bottom: 6px;
	
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 2px;
	background-image: linear-gradient(to right, #ed1c24 0%, #fff200 20%, #FFFFFF 40%, #FFFFFF 60%, #00aeef 80%, #2e3192 100%);
	}

.labelR span a:hover:before {
	content: "\2192";
}

body {
	padding:30px;	
}

.Abody {
	top:0;
	left:0;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	background-color:black;
/* 	background-image: none; */
/* 	background-image:url(../images/VDK_Emergency.jpg); */
	background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 45%; 
    z-index:1;
}

.case-hero {
	opacity:.15;
}

#EpicyclesC {
	background-image: url(../images/intra.png);
}


::selection {
  color:black;
  background:yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color:black;
  background: yellow; /* Gecko Browsers */
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (max-width: 400px) {

.labelB {
  width:100%;
  font-size: 32px;
  line-height: 42px;
}

small {
    font-size: 12px;
}

.Abody {
    background-size: 100%; 
  }

body {
  padding:4%; 
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
